
  .results {
    margin-top:  60px;
   }

   .card {
    text-align: center;
    margin-top: 20px;
    background-color: transparent;
   }

   .card-title {
     color: white;
     font-size: 56px;
   }

  .category {
    font-size: 48px;
  }
  .card-body {
    margin-top: 20px;
    color: black;
    opacity: 1;
  }

  .gender {
    background: white;
    padding: 20px;
    border-radius: 20px;
    height: 280px;
  }

  .detail-list {
    margin-top:  36px;
  }

  .detail-item {
      text-align: left;
      font-size: 24px;
    }

  .time {
    text-align: right;
  }
