
  .results {
    margin-top:  10px;
   }

   .card {
    text-align: center;
    margin-top: 2px;
    background-color: transparent;
   }

  .container {
    max-width: 100%;
  }

   .card-title {
     color: white;
     font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
     font-size: 60px;
     margin-bottom: 10px;
   }

  .category {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 40px;
    height: 100px;
    padding-top: 25px;
    border-bottom: solid black 2px;
  }
  .card-body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    color: black;
    opacity: 1;
  }

  .gender {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background: white;
    padding: 20px;
    border-radius: 20px;
    height: 400px;
    padding-top: 10px;
    max-width: 100%;
  }

  .detail-list {
    margin-top:  35px;
  }

  .detail-item {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
      text-align: left;
      font-size: 40px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  .time {
    text-align: right;
    padding-left: 0px;
  }
